<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
           <ul class="flashes">
               {% for message in messagexs %}
                  <li>{{ message }}</li>
               {% endfor %}
           </ul>
       {% endif %}
    {% endwith %}
    <h5> Username: admin</h5>
    <h5> Password: admin</h5>
    <h5> Email: Use your own email id</h5>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="Login">
    </form>

</body>

</html>
